Pharmafin.json
[{"id":"726ced4d589e33af","type":"tab","label":"Flow 3","disabled":false,"info":"","env":[]},{"id":"a02c50f868cfa8a0","type":"ui_text_input","z":"726ced4d589e33af","name":"","label":"Please insert brand name","tooltip":"","group":"b205a5a9fad28067","order":1,"width":9,"height":1,"passthru":true,"mode":"text","delay":"0","topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":230,"y":180,"wires":[["3ac87f422fa892dc","6b1619e85c8cb802"]]},{"id":"3ac87f422fa892dc","type":"debug","z":"726ced4d589e33af","name":"debug 5","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":560,"y":140,"wires":[]},{"id":"f5a120271281e08b","type":"http request","z":"726ced4d589e33af","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":610,"y":340,"wires":[["b7255abb8c9259a8"]]},{"id":"6b1619e85c8cb802","type":"function","z":"726ced4d589e33af","name":"function 2","func":"msg.url = \"https://api.fda.gov/drug/ndc.json?search=generic_name:\\\"\"+msg.payload+\"\\\"&limit=5\"\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":260,"wires":[["f5a120271281e08b"]]},{"id":"b7255abb8c9259a8","type":"json","z":"726ced4d589e33af","name":"","property":"payload","action":"obj","pretty":false,"x":750,"y":260,"wires":[["866863414653c03f","b7b2e7c4d934b12a"]]},{"id":"866863414653c03f","type":"function","z":"726ced4d589e33af","name":"function 3","func":"const x=[];\nflow.set(\"result\",msg.payload);\nfor (let index = 0; index < msg.payload.results.length; index++) {\n //   for (let j = 0; j < msg.payload.results[index].products.length; j++) {\n    x.push(index + 1 + \"  \" + msg.payload.results[index].generic_name + \" \"+msg.payload.results[index].labeler_name);    }\n//}\nreturn {options:x};","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":180,"wires":[["04e69002343520d5"]]},{"id":"04e69002343520d5","type":"ui_dropdown","z":"726ced4d589e33af","name":"","label":"","tooltip":"","place":"Select option","group":"b205a5a9fad28067","order":2,"width":11,"height":1,"passthru":true,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":1000,"y":240,"wires":[["55b64ff847d27cce","5a65fdb32d5bf1a5"]]},{"id":"0469cb572a3bd7cc","type":"debug","z":"726ced4d589e33af","name":"debug 6","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1300,"y":140,"wires":[]},{"id":"b7b2e7c4d934b12a","type":"debug","z":"726ced4d589e33af","name":"debug 7","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":880,"y":340,"wires":[]},{"id":"55b64ff847d27cce","type":"function","z":"726ced4d589e33af","name":"function 4","func":"let index = msg.payload.split(\" \");\nlet x=flow.get(\"result\");\n\ntry{\nif (x.results[index[0] * 1].openfda.pharm_class_pe!=undefined){\n    for (let j = 0; j < x.results[index[0] * 1].openfda.pharm_class_pe.length; j++) {\n        msg.payload += x.results[index[0] * 1].openfda.pharm_class_pe[j] + \"<br><br>\";\n\n    } \n}else{\n    msg.payload=\"\";\n}\n}catch(error){\n    msg.payload = \"\";\n}\n\n//}\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1140,"y":300,"wires":[["0469cb572a3bd7cc","5a6164f9f693af27"]]},{"id":"caba247996f2f67f","type":"ui_text","z":"726ced4d589e33af","group":"b205a5a9fad28067","order":3,"width":20,"height":5,"name":"","label":"Side effects","format":"{{msg.payload}}","layout":"col-center","className":"","style":true,"font":"Times New Roman,Times,serif","fontSize":"19","color":"#000000","x":1750,"y":160,"wires":[]},{"id":"951db4b605c337c8","type":"function","z":"726ced4d589e33af","name":"function 5","func":"msg.payload = '{\"messages\": [{\"role\": \"user\",\"content\": \"' + msg.payload + '\"}],\"model\":\"llama3-8b-8192\"}'\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1180,"y":500,"wires":[["2ab6d41221cf4300","739154f33ba66564"]]},{"id":"2ab6d41221cf4300","type":"http request","z":"726ced4d589e33af","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://api.groq.com/openai/v1/chat/completions","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"bearer","senderr":false,"headers":[{"keyType":"Content-Type","keyValue":"","valueType":"application/json","valueValue":""},{"keyType":"Authorization","keyValue":"","valueType":"other","valueValue":"Bearer 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"}],"x":1410,"y":460,"wires":[["8b4db776718096fd","3c4da75a8c41c1d2"]]},{"id":"8b4db776718096fd","type":"json","z":"726ced4d589e33af","name":"","property":"payload","action":"","pretty":true,"x":1690,"y":440,"wires":[["4b02eb11eb5ea6fe"]]},{"id":"4b02eb11eb5ea6fe","type":"function","z":"726ced4d589e33af","name":"function 6","func":"msg.payload = msg.payload.choices[0].message.content;\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1640,"y":320,"wires":[["caba247996f2f67f","ed13ab35f6f199d8"]]},{"id":"739154f33ba66564","type":"debug","z":"726ced4d589e33af","name":"debug 8","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1440,"y":580,"wires":[]},{"id":"ed13ab35f6f199d8","type":"debug","z":"726ced4d589e33af","name":"debug 9","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1540,"y":200,"wires":[]},{"id":"5a6164f9f693af27","type":"function","z":"726ced4d589e33af","name":"function 7","func":"if(msg.payload==\"\"){\n    msg.payload=\"Repeat: No side effects found\"\n}else{\nmsg.payload=\"Explain what these mean\"+msg.payload+\" in 3 or less sentences and add line breaks in html format not bolded\"\n}\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1160,"y":380,"wires":[["951db4b605c337c8"]]},{"id":"5a65fdb32d5bf1a5","type":"debug","z":"726ced4d589e33af","name":"debug 13","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1380,"y":240,"wires":[]},{"id":"3c4da75a8c41c1d2","type":"debug","z":"726ced4d589e33af","name":"debug 14","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1660,"y":520,"wires":[]},{"id":"018d8855d7734bfe","type":"ui_template","z":"726ced4d589e33af","group":"b205a5a9fad28067","name":"","order":13,"width":0,"height":0,"format":"\n<style>\n    body{\n    background-image:url(\"https://p1.pxfuel.com/preview/940/305/183/various-cure-doctor-drug.jpg\");\n    background-repeat: no-repeat;\n    background-size: cover;\n    }\n    </style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"global","className":"","x":380,"y":380,"wires":[[]]},{"id":"f8d85500c854df6d","type":"ui_template","z":"726ced4d589e33af","group":"","name":"","order":0,"width":0,"height":0,"format":"<style>\n\nmd-card{\n    border-radius: 11px;\n}\n\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"global","className":"","x":320,"y":440,"wires":[[]]},{"id":"a10f86b9528aba1a","type":"ui_spacer","z":"726ced4d589e33af","name":"spacer","group":"b205a5a9fad28067","order":4,"width":20,"height":1},{"id":"6bd0d94289f49b19","type":"ui_spacer","z":"726ced4d589e33af","name":"spacer","group":"b205a5a9fad28067","order":5,"width":20,"height":1},{"id":"e3e957c533c79aa8","type":"ui_spacer","z":"726ced4d589e33af","name":"spacer","group":"b205a5a9fad28067","order":6,"width":20,"height":1},{"id":"0a7071aa93586c93","type":"ui_spacer","z":"726ced4d589e33af","name":"spacer","group":"b205a5a9fad28067","order":7,"width":20,"height":1},{"id":"b40bdbdcf27c3519","type":"ui_spacer","z":"726ced4d589e33af","name":"spacer","group":"b205a5a9fad28067","order":8,"width":20,"height":1},{"id":"ca8af57cca8a7a02","type":"ui_spacer","z":"726ced4d589e33af","name":"spacer","group":"b205a5a9fad28067","order":9,"width":20,"height":1},{"id":"5a3e7acec7211629","type":"ui_spacer","z":"726ced4d589e33af","name":"spacer","group":"b205a5a9fad28067","order":10,"width":20,"height":1},{"id":"7efde12396fd98e7","type":"ui_spacer","z":"726ced4d589e33af","name":"spacer","group":"b205a5a9fad28067","order":11,"width":20,"height":1},{"id":"c5595a04cc3464be","type":"ui_spacer","z":"726ced4d589e33af","name":"spacer","group":"b205a5a9fad28067","order":12,"width":20,"height":1},{"id":"b205a5a9fad28067","type":"ui_group","name":"Please insert brand name below","tab":"c375667e80aff175","order":1,"disp":false,"width":"20","collapse":false,"className":""},{"id":"c375667e80aff175","type":"ui_tab","name":"Medicine side effects visualizer 1.0","icon":"dashboard","disabled":false,"hidden":false}]